.traitre-title{
  text-align: center;
}

.traitre-top {
  border-radius: 0px 5px 0px 5px;
}

.traitre-middle {
  border-radius: none;
}

.input-group-text {
  min-width: 95px;
  padding: 0.15rem 0.25rem !important;
}

.btn-no-border {
  border: 0px;
  max-width: 50px;
  padding: 0.15rem 0.25rem !important;
  max-height: 50px;
}