@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: Baumans;
    src: url('./Baumans-Regular.ttf');
}

@font-face {
    font-family: "AurekBesh";
    font-style: normal;
    font-display: swap;
    src: url('./AB-Equinox.otf');
}

@font-face {
    font-family: Almost-There;
    src: url('./AlmostThere-Numeric.otf');
}


html.alarm {
    --main-bg: #010205;
    --color-jedi-blue: #a20101;
    --color-empire-blue: #f32618;
    --empire-blue-text-shadow: #ff5151;
    --color-dark-blue: #911f17;
    --color-light-gray: #ad2209;
    --bs-body-bg:var(--main-bg);
    --bs-border-color:var(--color-empire-blue);
    --bs-border-width: 2px;
    --bs-body-color:var(--color-empire-blue);
    --bs-tertiary-bg: #ffffff00;
    --light-gray-text-shadow: #eb3110;

    .form-control:focus {
        border-color: var(--color-empire-blue);
        box-shadow: 0 0 5px .25rem rgba(253, 13, 13, 0.459);
    }
}


:root{

    --main-bg: #010205;
    --color-jedi-blue: #0123A2;
    --color-empire-blue: #4ca4f7;
    --empire-blue-text-shadow: #3f93f3;
    --color-dark-blue: #173d91;
    --color-light-gray: #cabda6;
    --bs-body-bg:var(--main-bg);
    --bs-border-color:var(--color-empire-blue);
    --bs-border-width: 2px;
    --bs-body-color:var(--color-empire-blue);
    --bs-tertiary-bg: #ffffff00;
    --light-gray-text-shadow:#bbab90;
    --bs-input-focus-border-color:var(--color-empire-blue)
}


.btn-outline-primary {
    --bs-btn-color:var(--color-empire-blue);
    --bs-btn-border-color:var(--color-empire-blue);
    --bs-btn-hover-color: #70b4f3;;
    --bs-btn-active-bg: var(--color-empire-blue);
    --bs-btn-hover-border-color: var(--color-empire-blue);
    --bs-btn-active-color: var(--color-jedi-blue);
    --bs-btn-hover-bg:#4ca4f791;

}

.btn-outline-secondary {
    --bs-btn-color: var(--color-light-gray);
    --bs-btn-border-color: #cabda68c;
    --bs-btn-hover-color: #b4c2cf;
    --bs-btn-hover-border-color: #b4c2cf;
    --bs-btn-hover-bg:#a1bad1a6;
    --bs-btn-active-bg: #cddae6;
    --bs-btn-active-color: grey;
    border-width: 2px;
}

.btn-close {
    --bs-btn-close-color: var(--color-empire-blue)
}

.btn-sm {
    --bs-btn-font-size: 0.675rem
}
