@import './assets/styles.css';


#root, html, body {
  background: var(--main-bg);
  height: 100%;
  width: 100%;
  color: var(--color-empire-blue);
  font-family: Baumans;
  font-size: 20px;
  text-shadow: #3f93f3 0px 0px 10px;
}

.aurek {
  font-family: "AurekBesh", 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #cabda6;
  font-size: 3em;
  text-shadow: #bbab90 0px 0px 10px;
}

#main-title {
  font-weight: 500;
  font-size: 24px;
}

#tagline {
  font-size: 16px;
}

#header-contents {
  text-align: center;
}
